main{
  padding: 0px 5%;
  }
  .big-title {
    font-size: 32px;
    font-weight: 700;
    color: var(--on-surface);
  }
  .medium-title {
    font-size: 18px;
    font-weight: 200;
    width: 60%;
    color: var(--on-surface-variant);
  }