<aside>
  <div>
    <img src="assets/images/logo.png" alt="">
    <div>
      <div>Tableau De Bord</div>
      <div>Delice De Douala</div>
    </div>
  </div>
  <nav>
    <div>
      <span class="material-symbols-outlined">dashboard</span>
      Dashboard
    </div>
    <div>
      <span class="material-symbols-outlined">restaurant</span>
      Restaurant
    </div>
    <div>
      <span class="material-symbols-outlined">food_bank</span>
      Menus
    </div>
    <div>
      <span class="material-symbols-outlined">event</span>
      Commandes
    </div>
    <div>
      <span class="material-symbols-outlined">group</span>
      Utilisateurs
    </div>
    <div>
      <div class="flex">
        <span class="material-symbols-outlined">settings</span>
        Paramètres
      </div>
      <div class="flex">
        <span class="material-symbols-outlined">logout</span>
        Deconnexion
      </div>
    </div>

  </nav>
</aside>
